*{
    font-family: cursive;

}
.content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #9dd2ea;
    width: 1200px;
    height: 900px;
    box-shadow: 0px 5px 1px #009de4;
    border-radius: 20px;
    border-collapse: collapse;
}

.score{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 16%;
    height: 6%;
    padding-top: 2%;
    background-color: #f1ff92;
    box-shadow: 0 8px 12px 0px #9da853;
    color: #888e5f;
    text-align: center;
    box-shadow: 0px 5px 1px #9da853;
}
.correct{
    position: absolute;
    top: 5%;
    left: 42%;
    width: 17%;
    height: 6%;
    padding-top: 2%;
    visibility: hidden;
    background-color: #42e252;
    box-shadow: 0 8px 12px 0px #9da853;
    color: #ebfbc9;
    text-align: center;
    box-shadow: 0px 3px 2px #9da853;
}

.question{
    position: absolute;
    top: 16%;
    left: 16%;
    width: 70%;
    height: 24%;
    padding-bottom: 12%;
    background-color: #9da0ea;
    text-align: center;
    box-shadow: 0px 5px 1px #535aa8;
    z-index:1;
    font-size: 15rem;
}
.ct{
    position: absolute;
    bottom: 31%;
    left: 16%;
    width: 70%;
    height: 7%;
    padding-top: 3%;
    background-color: #b481d9;
    text-align: center;
    z-index:1;
    box-shadow: 0px 5px 1px #8153a8;
}
.answer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    bottom: 14%;
    left: 16%;
    height: 15%;
    grid-column-gap: 25px;
    z-index:1;
    position: absolute;
}
.answer input{
    cursor: pointer;
    border: none;
    box-shadow: 0px 5px 1px #7ea8bb;
    font-size: 5rem;
}

.timer{
    position: absolute;
    bottom: 1%;
    right: 3%;
    width: 33%;
    height: 7%;
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 2%;
    background-color: #b0e64c;
    box-shadow: 0px 3px 1px #7ea8bb;
    font-size: 1.9rem;
}

.endGame{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #f3b46b;
    width: 90%;
    height: 40%;
    z-index: 2;
    color: white;
    font-size: 7rem;
    text-align: center;
    padding-top: 5%;
    visibility: hidden;
}
.ct, .correct, .score, .reset{
    font-size: 2rem;
}

.reset{
    position: absolute;
    bottom: 1%;
    border: none;
    left: 40%;
    width: 20%;
    height: 9.5%;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;
    background-color: #cee9f5;
    box-shadow: 0px 3px 1px #7ea8bb;
}